<?xml version="1.0"?>
<launch>
  <arg name="world" default="$(find livox_laser_simulation)/worlds/bus_number.world" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
	<arg name="world_name" value="$(arg world)"/> <arg name="paused" 
	value="true"/> <arg name="use_sim_time" value="true"/> <arg 
	name="gui" value="true"/> <arg name="headless" value="false"/> <arg 
	name="debug" value="false"/> <arg name="verbose" value="true"/>
  </include>
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find livox_laser_simulation)/rviz/livox_simulation.rviz"/>
</launch>
